[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://git.wincent.com/command-t.git
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/taskpaper"]
	path = _vim/bundle/taskpaper
	url = git://github.com/davidoc/taskpaper.vim.git
